body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
.container {
  max-width: 400px;
  margin: 40px auto;
  background: rgb(255, 233, 210);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #bdbdbd;
  border-radius: 7px;
}
button {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
